:root {
    /*-----Text color----212121*/
    --primary-text-color: #757575;
    --secondary-text-color: #ffffff;
    --title-text-color: #212121;
    /*-----bgcolor-----*/
    --main-background-color: #ffffff;
    --secondary-bgd-color: #2f303a;
    --third-bgd-color: #f5f4fa;
    --accent-color: #2196f3;
}

body {

    font-family: "Roboto", sans-serif;
    font-size: 12px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    background-color: var(--main-background-color);
    color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

.container {

    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.main-nave {
    display: flex;
    align-items: center;

}

/* вбираємо підкреслювання посилань*/
.logo,
.link {
    text-decoration: none;
}

/* ------------Лого-------------- */

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--accent-color);
    margin-right: 93px;

}

.logo-black {
    color: var(--title-text-color);
}

/*-----Nav-------*/

.link:hover,
.link:focus,
.link:active {
    color: var(--accent-color);
}

.list .active {
    color: var(--accent-color);
}

.list {
    list-style: none;
}

.header {
    border-bottom: 1px solid #ffffff;
    padding-top: 32px;
    padding-bottom: 32px;
}

.mn {
    display: flex;
}

.mn .item:not(:last-child) {
    margin-right: 50px;
}

.menu-nav {
    display: block;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

/*--контакти--*/
.adress-nav {
    display: flex;
    margin-left: auto;
}

.adress-nav .item+.item {
    margin-left: 50px;
}

.menu-contacts {
    display: flex;
    align-items: center;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}


.envelope {
    fill: currentColor;
    width: 16px;
    height: 12px;
    margin-right: 10px;
}

.phone {
    fill: currentColor;
    width: 10px;
    height: 16px;
    margin-right: 10px;
}



/*--Інформація сторінки--*/
.hero {
    max-width: 1600px;

    margin-left: auto;
    margin-right: auto;

    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;

    background-color: var(--secondary-bgd-color);
    background-color: var(--secondary-bgd-color);
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/backgraund.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-title {
    text-align: center;
    max-width: 696px;
    margin: 0 auto;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--secondary-text-color);
}

.hero-button {
    min-width: 200px;
    min-height: 50px;
    padding: 10px 32px;
    margin-top: 30px;


    font-family: inherit;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--secondary-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 4px;
    border-radius: 4px;
    cursor: pointer;
}

/*--Переваги компанії-*/
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-flex {
    display: flex;
}

.section-flex .item-sub {
    margin-left: 30px;
    width: 270px;
}

.section-flex :first-child {
    margin-left: 0;
}

.sub-title {
    margin-bottom: 12px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.item-sub::before {
    display: block;
    content: '';
    height: 120px;
    background-color: #f5f4fa;
    margin-bottom: 30px;
}

.item-sub:nth-child(1)::before {
    background-image: url(../images/antenna\ 1.svg);
    background-size: 70px 70px;
    background-position: center;
    background-repeat: no-repeat;
}

.item-sub:nth-child(2)::before {
    background-image: url(../images/clock\ 1.svg);
    background-size: 70px 70px;
    background-position: center;
    background-repeat: no-repeat;
}

.item-sub:nth-child(3)::before {
    background-image: url(../images/diagram\ 1.svg);
    background-size: 70px 70px;
    background-position: center;
    background-repeat: no-repeat;
}

.item-sub:nth-child(4)::before {
    background-image: url(../images/astronaut\ 1.svg);
    background-size: 70px 70px;
    background-position: center;
    background-repeat: no-repeat;
}



/*--чим займаємось--*/

.our-work {
    display: flex;
    gap: 30px;
}

.section-title {
    text-align: center;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.what-wedo {
    padding-bottom: 94px;
}

.imgourworks {}

.name-ourwork {
    position: absolute;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    text-transform: uppercase;
    bottom: 27px;
    left: 107px;

}

/*--Позиція в "чим ми займаємось"--*/
.decoration-work {
    position: relative;
    display: flex;
}

.decoration-work::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    bottom: 0;


}

/*--наша команда--*/

.team {
    text-align: center;
    background-color: #f5f4fa;
}

.our-team {
    display: flex;
}

.our-team .our-item {
    margin-left: 30px;

    width: 270px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: #ffffff;
}

.our-team :first-child {
    margin-left: 0;
}

.name-team {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--title-text-color);

}


/*--Професії команди--*/
.professions-team {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-bottom: 16px;

    color: var(--primary-text-color);
}

.association-team {
    padding-top: 30px;
    padding-bottom: 30px;
}

/*--Соціальні мережі--*/

.collection-icon {
    display: flex;
    justify-content: center;
    list-style: none;

}

.team-icon {
    margin-right: 10px;
}

.team-icon:last-child {
    margin-right: 0;
}

.icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    color: #afb1b8;
    border-radius: 50%;
}

.icon {
    fill: currentColor;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.icon-link:hover,
.icon-link:focus,
.icon-link:active {
    color: var(--secondary-text-color);
    fill: var(--primary-text-color);
    background-color: var(--accent-color);
}

/*--постійні клієнти--*/
.clients {
    display: flex;
    list-style: none;
    gap: 30px;
}

.clients:focus {
    border: var(--accent-color);
}

.link-clients-regular {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 2px solid #AFB1B8;
    color: #AFB1B8;
    width: 170px;
    height: 92px;


}

.icon-regular {
    width: 106px;
    height: 60px;
    fill: currentColor;
}

.link-clients-regular:hover,
.link-clients-regular:focus,
.link-clients-regular:active {
    color: var(--accent-color);
    border: 2px solid var(--accent-color);
}



/*--підвал--*/
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--secondary-bgd-color);
}

.footer-logo {
    display: block;
    margin-bottom: 20px;
}

.logo-wight {
    color: var(--secondary-text-color);

}


.contacts-items {
    margin-right: 70px;
    margin-bottom: 9px;
}

.contacts-items:last-child {
    margin-bottom: 0px;
}

.adress {

    font-style: normal;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--secondary-text-color);
}

.contacts-footer {
    font-style: normal;
    line-height: 2;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    ;
}

/*--Приєднуйтесь--*/
.footer-container {

    display: flex;
    justify-self: start;
    align-items: baseline;
}

.join {
    display: flex;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-text-color);
    margin-bottom: 20px;
}

.join-in-footer {
    display: flex;
    list-style: none;
}

.icon-footer-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    border-radius: 50%;
    text-decoration: none;
    cursor: pointer;

}

.icon-footer-link:hover,
.icon-footer-link:focus,
.icon-footer-link:active {
    background-color: var(--accent-color);
}
/*--Модальне вікно--*/
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-color:rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden{
    opacity: 0.5;
    pointer-events: none;
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 528px;
    min-height: 581px;
    border-color: #000;
    border-radius: 4px;
    

    background-color:var(--main-background-color);
}




/* Portfolio CSS */
.size-portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}

.portfolio-button-head {
    margin-bottom: 50px;
    justify-content: center;
    display: flex;

}

.item-pfb {
    margin-right: 8px;
}

.item-pfb:last-child {
    margin-right: 0px;
}

.portfolio-button {
    padding: 6px 22px;

    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    background-color: var(--third-bgd-color);
    border-radius: 4px;
    border: none;
    cursor: pointer;



}

.portfolio-button:hover,
.portfolio-button:focus,
.portfolio-button:active {
    background-color: var(--accent-color);
    color: #ffffff;
}

.portfolio-button-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.work {
    gap: 30px;
    display: flex;
    flex-wrap: wrap;


}

.item-work:nth-child(3n) {
    margin-right: 0px;
}

.work-description {
    padding: 20px 24px;
    border-right: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}

.portfolio-title {

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.portfolio-text {
    margin-top: 4px;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
} 